
@{
    ViewBag.Title = "Prilozi";
}

@{
    Html.RenderPartial("~/Views/Shared/_LeftNavbar.cshtml");
}

<div >
    <table style="width:100%">
        <tr>
            <th>Prilog</th>
            
        </tr>
        <tr>
            <td>Finansijski izvestaj</td>
            
        </tr>
        <tr>
            <td>Izvestaj</td>
            
        </tr>
    </table>
</div>

