
<li > @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes:new { id = "registerLink", Style = "color:Red;" })</li>
<li > @Html.ActionLink("Poziv", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", Style = "color:Red;" }) </li>
<li>@Html.ActionLink("Zapisnik", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", Style = "color:Red;" })</li>
<li>@Html.ActionLink("Novi/Izmena clanova", "Index", "AdminClanovi", routeValues: null, htmlAttributes: new { id = "registerLink", Style = "color:Red;" })</li>